# Project build files
/*.rbxl
/*.rbxlx
/*.rbxm
/*.rbxmx
sourcemap.json

# Packages
Packages

# Roblox-ts
node_modules
out
include

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

# VS Code files
.vscode/*
